body{
    background-color: #000;
    
}
.first-div{
    background-color: #002564;
    margin-left: 50px;
    color: #fff125;
    font-size: 1.4rem;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.first-div:hover{
    background-color: #126598;
    font-size: 1.6rem;

}

.head{
    margin-left: 800px;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    background-color: #456325;
    width: 300px;
    border-radius: 10px;

    
}
.one{
    color: #963985;
}
.wrapper{
    display: flex;
    justify-content: space-around;
}
